.products {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
  border-radius: 0.8rem;
  box-shadow: 0.4rem 0.4rem 0.4rem 0.3rem lightgray;
}

.product_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_price div,
.product_price button {
  text-align: center;
  flex: 1;
}

.product_price div {
  font-size: 2rem;
}

.btn {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
  background-color: #f0f0f0;
  border-radius: 0.7rem;
}

.btn.primary:hover {
  background-color: #e4ae1a;
}

.btn.primary {
  background-color: #f0c040;
}

button:hover {
  cursor: pointer;
  border: 0.2rem solid #8888;
}

.product_image:hover {
  transform: scale(0.9);
}
