.products {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
  border-radius: 0.8rem;
  box-shadow: 0.4rem 0.4rem 0.4rem 0.3rem lightgray;
}

.product_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_price div,
.product_price button {
  text-align: center;
  flex: 1;
}

.product_price div {
  font-size: 2rem;
}

.btn {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
  background-color: #f0f0f0;
  border-radius: 0.7rem;
}

.btn.primary:hover {
  background-color: #e4ae1a;
}

.btn.primary {
  background-color: #f0c040;
}

button:hover {
  cursor: pointer;
  border: 0.2rem solid #8888;
}

.product_image:hover {
  transform: scale(0.9);
}

.modal_content {
  margin-top: 2rem;
  display: grid;
  grid-template-areas: "image details";
  grid-template-columns: 1fr 2fr;
}

.modal_logo {
  grid-area: "image";
  margin-right: 2rem;
}

.modal_image {
  object-fit: contain;
  height: 75vh;
  box-shadow: 0.1rem 0.3rem 0.4rem 0.5rem lightgrey;
}

.modal_title {
  font-size: 3rem;
}

.modal_details {
  grid-area: "details";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.button-sizes {
  background-color: rgb(245, 212, 26);
  margin: 0.4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bolder;
}
.btn-closemodal {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  background-color: rgb(245, 212, 26);
  font-weight: bold;
}
